/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Paleta de colores
    #243642 tono más oscuro
    #387478
    #629584
    #E2F1E7 tono más claro 
*/

/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100%;
    background-image: url(imagenes/earth_reflection.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: "Roboto Mono", monospace;
    width: 100vw;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Placeholder color para input */
input::placeholder {
    color: gray;
    opacity: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s;
}

.header.active {
    background-color: rgba(0, 0, 0, 1);
}

/* Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar a {
    color: #E2F1E7;
}

.navbar a:hover {
    background-color: #387478;
    color: #243642;
    border-radius: 5px;
    padding: 5px 15px;
}

/* Botón de búsqueda */
.form-control {
    color: #243642;
}

.btn-outline-success {
    color: #387478;
    border-color: #387478;
}

.btn-outline-success:hover {
    background-color: #E2F1E7;
    color: #243642;
    border-color: #E2F1E7;
}

/* Secciones de contenido */
.home {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 70px;
    color: #E2F1E7;
}

.home-subtitle h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #E2F1E7;
}

/* Footer */
.footer {
    background-color: #243642;
    padding: 30px 0;
    color: #E2F1E7;
    text-align: center;
}

.footer-github {
    display: flex;
    justify-content: center;
}

.footer-texto {
    font-size: 10px;
    color: #E2F1E7;
}

.footer-texto a {
    color: #E2F1E7;
    text-decoration: underline;
}
.contact{
    background-color: #E2F1E7;
    width: 100vw;
    position: relative;
    margin: 200px 0;
    height: 400px;
    padding-top: 100PX;
}
.contact-contain{
    width: 100vw;
}
.contact-subtitle{
    width: 100%;
    height: 50px;
    position: flex;
}
.contact-subtitle h2{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #243642;
}
.contact-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-info p{
    width: 60%;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    margin: 15px 0;
    color: #387478;
}
.contact-contain-members{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 200px;
    margin-top: 10px;
}
.contact-group-contain{
    width: 60%;
    height: 100%;
}
.contact-group{
    width: 100%;
    display: flex;
    align-items: center;
    height: 50%;
}
.contact-members{
    width: 50%;
    display: flex;
    height: 90%;
    position: relative;
    align-items: center;
    margin: 5px;
    border: 15px;
    border-width: 2px;
    border-radius: 100px;
    background-color: #243642;
}
.contact-members:hover{
    background-color: #387478;
}
.contact-name{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}
.contact-name h3{
    display: flex;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #E2F1E7;
    width: 50%;
    justify-content: center;
}
.contact-img{
    width: 50%;
    height: 90%;
    margin: 3px 25px;
}
.contact-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.contact-links{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content:right;
    height: 100%;

}
.contact-links-a{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.contact-links a{
    margin: 3px;
}
.icono{
    width: 30px;
}